.search-results__tabs-list {
	margin: 2em 0;
}

.article-sort {
	width: 21em;
	box-sizing: border-box;
	margin-bottom: 2em;
}

.searching {
	margin-top: 1em;
}

.found-articles__articles-list {
	margin-bottom: 2.7em;
}

.found-articles__load-more-btn {
	margin-bottom: 2.9em;
}