.search-results__tabs-list {
	margin: 2em 0;
}

.article-sort {
	box-sizing: border-box;
	margin-bottom: 2em;
	width: 21em;
}

.searching {
	margin-top: 1em;
}

.found-articles__articles-list,
.found-resource__resource-list {
	margin-bottom: 2.7em;
}

.found-articles__load-more-btn {
	margin-bottom: 2.9em;
}

.found-resource__resource-list {
	margin-top: 3em;
}




/*----------  No Results  ----------*/

.no-results {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 3.5em;
}

.no-results__img {
	margin: 3.8em 0;
	height: 34%;
}

.no-results__message {
	width: 23em;
	text-align: center;
}