
/*----------  Avatar  ----------*/



.user-profile {
	display: flex;
	column-gap: 1em;
	align-items: center;
	margin-top: 4em;
	margin-bottom: 6em;
}

.user-profile__avatar {
	background-color: var(--control-elements-background);
	border-radius: 50%;
	overflow: hidden;
	width: 11em;
	height: 11em;
	flex-shrink: 0;
}



/*----------  Settings  ----------*/



.settings__list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	row-gap: 1em;
}

.settings__item {
	background-color: var(--white);
	padding: 1.9em 2em 2.1em;
}

.settings__item--advanced {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 1em;
}

.settings__item--advanced::after {
	content: '';
	display: block;
	width: .8em;
	height: .8em;
	border-top: 2px solid var(--black);
	border-right: 2px solid var(--black);
	border-top-left-radius: 2px;
	transform: rotate(45deg) translate(20%, 0%);
}