/*=============================================
=                 Typography                 =
=============================================*/


@import url("https://use.typekit.net/brz7yrc.css");


body {
	--text-font: lato, sans-serif;
	--header-font: roboto-slab, serif;

	--big-font-size: 1.8em;
	--normal-font-size: 1.4em;
	--small-font-size: 1.3em;

	--black: #221E1E;
	--background: #F7F7F7;
	--grey: #7E7972;
	--control-elements-background: #E0E0E0;
	--white: #FFFFFF;
	--black: #23201D; 
	--yellow: #FFBE15;
	--dark-background: #252525;
	--stroke: #EDEDED;
	--highlight__search__color: #FFBE15;
	--orange__highllight__color: #FE8D59;
	--turquoise__highllight__color: #61DAC5;
	--pur__highllight__color: #F298E7;
	--blue__highllight__color: #00CDE2;
	--green__highlight-color: #67C872;


	--page-padding: 2em;

	background-color: var(--background);

	color: var(--black);

	font-family: var(--text-font);
	font-size: 62.5%;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



/*=============================================
=            Reset Default            =
=============================================*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

a {
	text-decoration: none;
	color: var(--black);
}

a:visited {
	color: var(--black);
}

button {
	border: none;
	font-size: 1em;
}

p {
	margin: 0;
}

ul {
	margin: 0;
}

summary:focus {
	outline: none;
}

/*=====  End of Reset Default  ======*/





.header-1 {
	line-height: 1.32em;
	font-family: var(--header-font);
	font-size: 2.8em;
	font-weight: bold;
	font-style: normal;
}

.header-2 {
	line-height: 1.33em;
	font-family: var(--header-font);
	font-size: 2.1em;
	font-weight: bold;
	font-style: normal;
}

.header-3 {
	line-height: 1.3125em;
	font-family: var(--header-font);
	font-size: 1.6em;
	font-weight: bold;
	font-style: normal;
}

.header-4 {
	line-height: 1.2857em;
	font-family: var(--header-font);
	font-size: 1.4em;
	font-weight: bold;
	font-style: normal;
}

.header-5 {
	line-height: 1.22em;
	font-family: var(--text-font);
	font-size: var(--big-font-size);
	font-weight: 700;
	font-style: normal;
}

.text-r-big {
	line-height: 120.38%;
	font-family: var(--text-font);
	font-size: var(--big-font-size);
	font-weight: normal;
	font-style: normal;
}

.text-m-normal {
	line-height: 1.214em;
	font-family: var(--text-font);
	font-size: var(--normal-font-size);
	font-weight: 500;
	font-style: normal;
}

.text-sb-normal {
	line-height: 1.214em;
	font-family: var(--text-font);
	font-size: var(--normal-font-size);
	font-weight: 600;
	font-style: normal;
}

.text-b-small {
	line-height: 1.23em;
	font-family: var(--text-font);
	font-size: var(--small-font-size);
	font-weight: 700;
	font-style: normal;
}

.text-b-normal {
	line-height: 1.214em;
	font-family: var(--text-font);
	font-size: var(--normal-font-size);
	font-weight: 700;
	font-style: normal;
}

.text-b-big {
	line-height: 120.38%;
	font-family: var(--text-font);
	font-size: var(--big-font-size);
	font-weight: 700;
	font-style: normal;
}

.text-tag-label {
	text-transform: uppercase;
	line-height: 1.22em;
	font-family: var(--text-font);
	font-size: var(--big-font-size);
	font-weight: 600;
	font-style: normal;
}


.multi-line--2 {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.multi-line--3 {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}




/*=============================================
=                  Structure                  =
=============================================*/


/*----------  Default  ----------*/

.default-structure {
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	min-height: 100vh;
	padding: 0;
}

.page-header {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	margin: 0;
	width: 100%;
	padding: 1em 2em;
}

.page-header--scrolled {
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: var(--white);
}

.page-content {
	box-sizing: border-box;
	width: 100%;
	min-height: calc( 100vh - 14em );
	padding: 0 var(--page-padding);
}
/* TOTHINK: Убирать scrollbar контейнера с контентом? */


.tabbar {
	box-sizing: border-box;
	position: sticky;
	bottom: 0;
	margin: 0;
	width: 100%;
}



/*----------  Header + Content  ----------*/

.structure--header-only {
	display: grid;
	align-content: stretch;
	justify-content: stretch;
	margin: 0;
	width: 100%;
	height: 100vh;
	padding: 0;
	grid-template-areas: 	"header"
							"content";
	grid-template-rows: 6.6em auto;
	grid-template-columns: 100%;
}



/*----------  Horizontal Scroll  ----------*/


ul.horizontal-scroll {
	--gap: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	column-gap: var(--gap);
	padding: 0;
	overflow-x: auto;
	overflow-y: auto;
	list-style: none;
}

ul.horizontal-scroll::-webkit-scrollbar {
	width: 0;
	background-color: transparent;
}

ul.horizontal-scroll--full-width > li:first-child {
	margin-left: var(--page-padding);
}

ul.horizontal-scroll--full-width > li:last-child {
	margin-right: var(--page-padding);
}

ul.horizontal-scroll--full-width {
	margin-left: calc( -1 * var(--page-padding) );
	width: calc( 100% + 2*var(--page-padding) );
}



/*----------  Position  ----------*/

.align-center {
	display: flex;
	justify-content: center;
	width: 100%;
}

.align-right {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
}




/*=============================================
=                 Components                 =
=============================================*/



/*----------  Tabbar  ----------*/


.tabbar {
	padding: 0;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	background-color: var(--white);
}

.tabbar__buttons-list {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 0;
	width: 100%;
	padding: 0;
	list-style: none;
}

.tabbar-button {
	display: flex;
	align-items: center;
	flex-basis: 0%;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: center;
	padding: 1.2em 0.5em;
}

.tabbar-button__caption {
	display: flex;
	align-items: center;
	flex-direction: column;
	
	margin: 0 auto;
	padding: 0;
}

div.tabbar-button__caption {
	color: var(--black);
}

a.tabbar-button__caption {
	text-decoration: none;
	color: var(--grey);
}

.tabbar-button__icon {
	margin-bottom: 0.8em;
	width: 2.4em;
	height: 2.4em;
}



/*----------  Page Headers  ----------*/

.page-header--text-only {
	padding-top: 1.63em;
	padding-bottom: 1em;
}

.page-header--control {
	display: flex;
	align-items: center;
	padding: 1.7em var(--page-padding) 1.9em;
}

.page-header--control > .page-header__back-section {
	flex-grow: 1;
}

.page-header--control > .page-header__other-actions {
	display: flex;
	column-gap: 3em;
}

.page-header--control button {
	color: var(--grey);
}

button.page-header__back-btn {
	color: var(--black);
}



/*----------  Resource Card  ----------*/

.resource-card {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	width: 15em;
	padding: 1em;
	border-radius: 0.5em;
	background-color: var(--white);
}

.resource-card__info {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}

.resource-card__icon {
	margin-right: 1em;
	width: 4em;
	height: 4em;
	border-radius: 50%;

	background-color: var(--control-elements-background);
}

.resource-card__name {
	max-width: calc(100% - 4em);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/*   --- Subscribe Button ---   */
.subscribe-btn {
	padding: 0.6em 3.5em;
	border: 2px solid var(--yellow);
	border-radius: 3.3em;
	background-color: var(--yellow);
}

.subscribe-btn--subscribed {
	border-color: var(--black);
	background-color: transparent;
}

.subscribe-btn--subscribed > span {
	display: flex;
	align-items: center;
}


.subscribe-btn--subscribed > span::before {
	display: inline-block;
	margin-right: 0.5em;
	width: 1.2em;
	height: 1.2em;
	background-image: url(../img/icons/check.svg);
	background-repeat: no-repeat;
	background-size: contain;
	content: " ";
}




/*----------  Articles List  ----------*/

ul.articles-list {
	display: flex;
	flex-direction: column;
	padding: 0;
	list-style: none;
	gap: 2em;
}



/*----------  Article  ----------*/

.article {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

.article__header {
	display: flex;
	align-items: center;
	column-gap: 1em;
	width: 100%;
}

.article__resource-icon {
	width: 3em;
	height: 3em;
	border-radius: 50%;
	background-color: var(--control-elements-background);
}

.article__resource-name {
	flex-grow: 1;
}

.article__publication-time {
	color: var(--grey);
}


.article__preview {
	display: flex;
	column-gap: 1em;
}

.article__preview-image {
	flex-basis: 11em;
	flex-shrink: 0;
	height: 8em;
	border-radius: .5em;
	background-color: var(--control-elements-background);
}

.article__preview-content {
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
	row-gap: 1em;
}

.article__preview-header,
.article__preview-text {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.article__preview-text {
	color: var(--grey);
}

.article__footer {
	display: flex;
	align-items: center;
}

.article__views {
	flex-grow: 1;
}

.article__actions {
	display: flex;
	column-gap: 3em;
}

.icon-btn {
	padding: 0;
	border: none;
	background-color: transparent;
}

.article-btn {
	width: 3em;
	height: 3em;
	color: var(--grey);
}

.saved-btn > svg {
	fill: none;
} 

.saved-btn--saved > svg {
	fill: var(--black);
	color: var(--black);
}

.article__more-btn {
	width: 1em;
}



/*----------  Views Widget  ----------*/

.views {
	display: flex;
	align-items: center;
	color: var(--grey);
}

.number-views {
	display: flex;
	align-items: center;
	padding-right: .6em;
} 

.number-views::before {
	display: inline-block;
	width: 2em;
	height: 2em;
	background-image: url(../img/icons/eye.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
	content: "";
}

.reading-duration {
	padding-left: .6em;
	border-left: 1.5px solid var(--grey);
}





/*----------  Tags List  ----------*/

ul.tags-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	list-style: none;
	gap: 1em;
}

li.tag-item {
	padding: .5em 1em;
	border: 1px solid var(--stroke);
	border-radius: .5em;
	background-color: var(--white);
}

li.tag-item--system {
	border: none;
	background-color: var(--control-elements-background);
	color: var(--grey);
}


/*----------  Load More Button  ----------*/

.load-more-btn {
	width: 15em;
	padding: .65em;
	border-radius: 3em;
	background-color: var(--control-elements-background);
	color: var(--grey);
}


/*----------  Sort  ----------*/

details.select {
	position: relative;
	z-index: 0;
}

details.select[open] {
	z-index: 1;
}

summary.select__radios {
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 1.6em 2em;
	border: 2px solid var(--stroke);
	background-color: var(--white);
	appearance: none;
}

summary.select__radios::-webkit-details-marker,
summary.select__radios::marker {
	display: none;
}

summary.select__radios {
	counter-reset: radios;
}

input.select__radio-input {
	display: none;
	counter-increment: radios;
	appearance: none;
}

details.select[open] summary.select__radios::before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary.select__radios::after {
	content: '';
	display: inline-block;
	float: right;
	width: 1em;
	height: 1em;
	border-top: 2px solid var(--grey);
	border-left: 2px solid var(--grey);
	border-top-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

details.select[open] summary.select__radios::after {
	transform: rotate(-135deg) translate(0%, 0%);
}


.select__item-value {
	display: none;
}

input.select__radio-input:checked + .select__item-value {
	display: inline-flex;
	align-items: center;
}

input.select__radio-input:after {
	display: inline;
	content: attr(title);
}

ul.select__list {
	box-sizing: border-box;
	display: flex;
	position: absolute;
	top: calc(100% + 1em);
	flex-direction: column;
	width: 100%;
	padding: 1.6em 2em;
	border: 2px solid var(--stroke);
	background-color: var(--white);
	list-style: none;
	counter-reset: labels;
	row-gap: 2em;
}

label.select__option {
	display: flex;
	align-items: center;
}

.up-arrow,
.down-arrow {
	width: 1em;
	height: 1em;
	background-image: url('../img/icons/arrow-up.svg');
}

.down-arrow {
	transform: rotate(180deg);
}

.select__item-icon {
	margin-left: 1em;
}



/*----------  Modal Window  ----------*/

.modal-window {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	z-index: 98;
	margin: 0;
	width: 100%;
	height: 100vh;
	padding: 0;
}

.modal-window[data-closed="true"] {
	display: none;
}

.modal-window__window {
	box-sizing: border-box;
	display: flex;
	position: absolute;
	bottom: 0;
	align-items: center;
	flex-direction: column;
	z-index: 99;

	width: 100%;
	height: 87%;
	padding: 0 var(--page-padding);

	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	background-color: var(--white);
}

.modal-window__shadow {
	position: absolute;
	opacity: .4;
	z-index: 98;
	width: 100%;
	height: 100%;
	background-color: var(--black);
}

.modal-window__header {
	padding: 3.2em 2em 2em;
}

.modal-window__content {
	flex-basis: 12em;
	flex-shrink: 1;
	width: 100%;
}


.modal-window__main-action-btn {
	width: 100%;
	padding: 1.4em;
	border-radius: 1em;
	background-color: var(--yellow);
}

.modal-window__cancel {
	flex-shrink: 0;
	width: 100%;
	padding: 1.4em;
	border-radius: 1em;
	background-color: var(--white);
}



/*----------  Folder Selection  ----------*/

.folder-selection__folder-list {
	flex-shrink: 1;
	width: 100%;
	min-height: 8em;
	padding: 0;
	overflow-y: auto;
	list-style: none;
}

.modal-window__actions {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 100%;
	padding: 2em 0 3em;
	row-gap: 2em;
}

.folder-selection__folder {
	margin-bottom: 2em;
}

.folder-selection__folder:last-child {
	margin-bottom: 0;
}

.folder-selection__folder-list input {
	display: none;
}

.folder-selection__item {
	display: flex;
}

input[type=radio]:checked + label.folder-selection__item {
	background-color: var(--control-elements-background);
}

.folder-preview {
	display: flex;
	flex-wrap: wrap;
	margin-right: 1em;
	width: 8em;
	height: 8em;
}

.folder-preview__article {
	width: 50%;
	height: 50%;
}

/* FIXME: Временная заглушка вместо фотографий */
.folder-preview__article-1 {
	background-color: #E0E0E0;
}

.folder-preview__article-2 {
	background-color: #d1d1d1;
}

.folder-preview__article-3 {
	background-color: #d4d4d4;
}

.folder-preview__article-4 {
	background-color: #ececec;
}